body {
  margin: 0;
  background-color: #b4f2e1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
div {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}

h1 {
  background-color: rgb(243, 209, 232);
  border-radius: 10px;
  padding: 10px;
}
